body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure the footer is at the bottom */
}

header {
    background-color: #343a40;
    color: #fff;
    width: 100%;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
    text-align: center;
    flex-grow: 1; /* Ensure main content takes up available space */
}

.player-stats img {
    width: 100%; /* Ensure the image is readable */
    max-width: 600px; /* Limit the maximum width */
    height: auto;
    object-fit: contain;
    margin-bottom: 1em;
}

.guess-form {
    margin-bottom: 1em;
}

#guess-input {
    padding: 0.5em;
    font-size: 1em;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#feedback {
    margin-top: 1em;
    font-size: 1.2em;
}

#guess-count {
    margin-top: 1em;
    font-size: 1.2em;
    color: #ffcc00; /* Gold color */
}

footer {
    background-color: #343a40;
    color: #fff;
    width: 100%;
    padding: 1em;
    text-align: center;
    position: relative;
}
